[submodule "libeigen"]
	path = code/thirdparty/mandatory/eigen/eigen
	url = git@gitlab.com:libeigen/eigen.git
[submodule "rapidxml"]
	path = code/thirdparty/mandatory/rapidxml/rapidxml
	url = git@github.com:viriw/rapidxml.git
[submodule "trng"]
	path = code/thirdparty/mandatory/trng/trng4
	url = git@github.com:rabauke/trng4.git
[submodule "voro++"]
	path = code/thirdparty/mandatory/voroxx/voro
	url = git@github.com:chr1shr/voro.git
